<h1>People</h1>
<form id="mode_form" action="#">
<table>
	<tr>
		<td>Automatically open:</td>
		<td><%= check_box_tag 'x'%> X</td>
		<td><%= check_box_tag 'y'%> Y</td>
		<td><%= check_box_tag 'z'%> Z</td>
		<td><%= check_box_tag 'w'%> W</td>
	</tr>
</table>
</form>

<form id="filter_form" action="#">
<table>
	<tr>
		<td>Filters:</td>
		<td><%= check_box_tag 'x'%> X</td>
		<td><%= check_box_tag 'y'%> Y</td>
		<td><%= check_box_tag 'z'%> Z</td>
		<td><%= check_box_tag 'w'%> W</td>
	</tr>
</table>
</form>
<form id="person_search_form" action="#">
	Search names: <input type="text" name="name" autocomplete="off" value="" id="person_search_field" onkeydown="doSearch(arguments[0]||event)" />
</form>
<!-- This is all fine and good, but I need to do this more programmatically I think. Lots of redundancy. -->
<table>
	<tr>
		<td valign="top">
			<table id="people_list" class="scroll" cellpadding="0" cellspacing="0"></table>
			<div id="people_pager" class="scroll" style="text-align:center;"></div>
		</td>
		<td valign="top">
			<table id="person_students_list" class="scroll" cellpadding="0" cellspacing="0"></table>
			<div id="person_students_pager" class="scroll" style="text-align:center;"></div>
			<table id="student_degrees_list" class="scroll" cellpadding="0" cellspacing="0"></table>
			<div id="student_degrees_pager" class="scroll" style="text-align:center;"></div>
			<table id="person_employees_list" class="scroll" cellpadding="0" cellspacing="0"></table>
			<div id="person_employees_pager" class="scroll" style="text-align:center;"></div>
			<table id="employee_sections_list" class="scroll" cellpadding="0" cellspacing="0"></table>
			<div id="employee_sections_pager" class="scroll" style="text-align:center;"></div>
		</td>
		<td valign="top">
			<table id="person_contacts_list" class="scroll" cellpadding="0" cellspacing="0"></table>
			<div id="person_contacts_pager" class="scroll" style="text-align:center;"></div>
			<table id="person_logs_list" class="scroll" cellpadding="0" cellspacing="0"></table>
			<div id="person_logs_pager" class="scroll" style="text-align:center;"></div>
		</td>
	</tr>
</table>

<script type="text/javascript">
var timeoutHnd;
function doSearch(ev){
	// var elem = ev.target||ev.srcElement;
	if(timeoutHnd)
		clearTimeout(timeoutHnd)
	timeoutHnd = setTimeout(gridReload,300);
}
function gridReload(){
	var fv = jQuery("#person_search_field").val();
	var fn = jQuery("#person_search_field").attr('name');
	jQuery("#people_list").setGridParam({url:"people/load_person_table?_livesearch=true&"+fn+"="+fv,page:1}).trigger("reloadGrid");
} 
var lastsel;
jQuery("#people_list").jqGrid({
   	url:'people/load_person_table',
	datatype: "json",
	height: 350,
   	colNames:['Name','Degrees','Profiles'],
   	colModel:[
		{name:'name',index:'name', width:100, search:true},
		{name:'degrees',index:'degrees', width:175, sortable:false, search:false},
		{name:'profiles',index:'profiles', width:175, sortable:false, search:false}
   	],
   	// rowNum:20,
   	// rowList:[10,20,30],
	pginput: false,
	pgbuttons: false,
	viewrecords: true,
	rowList:[],
   	pager: jQuery('#people_pager'),
   	sortname: 'name',
	loadui: 'disable',
	onCellSelect: openPanel,
	onSelectRow: function(ids) {
		if(ids == null) {
			ids=0;
			if(jQuery("#person_contacts_list").getGridParam('records') >0 )
			{
				jQuery("#person_contacts_list").setGridParam({url:"people/load_person_contact_table/"+ids,page:1})
				// .setCaption("Invoice Detail: "+ids)
				.trigger('reloadGrid');
				jQuery("#person_logs_list").setGridParam({url:"people/load_person_log_table/"+ids,page:1})
				// .setCaption("Invoice Detail: "+ids)
				.trigger('reloadGrid');
				jQuery("#person_employees_list").setGridParam({url:"people/load_person_employee_table/"+ids,page:1})
				// .setCaption("Invoice Detail: "+ids)
				.trigger('reloadGrid');			
				jQuery("#person_students_list").setGridParam({url:"people/load_person_student_table/"+ids,page:1})
				// .setCaption("Invoice Detail: "+ids)
				.trigger('reloadGrid');			
			}
		} else {
			jQuery("#person_contacts_list").setGridParam({url:"people/load_person_contact_table/"+ids,page:1})
			// .setCaption("Invoice Detail: "+ids)
			.trigger('reloadGrid');			
			jQuery("#person_logs_list").setGridParam({url:"people/load_person_log_table/"+ids,page:1})
			// .setCaption("Invoice Detail: "+ids)
			.trigger('reloadGrid');			
			jQuery("#person_employees_list").setGridParam({url:"people/load_person_employee_table/"+ids,page:1})
			// .setCaption("Invoice Detail: "+ids)
			.trigger('reloadGrid');			
			jQuery("#person_students_list").setGridParam({url:"people/load_person_student_table/"+ids,page:1})
			// .setCaption("Invoice Detail: "+ids)
			.trigger('reloadGrid');			
		}
	},
	toolbar: [true,'top'],
	sortorder: "asc",
    caption: "People"
}).navGrid('#people_pager', {edit:false,add:false,del:true, search:false,refresh:false});
// .navButtonAdd("#people_pager",{caption:"Search",title:"Toggle Search",
// 	onClickButton:function(){ 
// 		if(jQuery("#t_people_list").css("display")=="none") {
// 			jQuery("#t_people_list").css("display","");
// 		} else {
// 			jQuery("#t_people_list").css("display","none");
// 		}
// 		
// 	}
// });
// jQuery("#t_people_list").height(25).hide().filterGrid("people_list",{autosearch:true,gridModel:true,gridToolbar:true});
activateTitleBar('#people_list');
jQuery("#person_contacts_list").jqGrid({
   	url:'people/load_person_contact_table/0',
	datatype: "json",
	height: 150,
   	colNames:['Type','Data'],
   	colModel:[
		{name:'type',index:'type', width:70, sortable:false},
		{name:'data',index:'data', width:150, sortable:false}
   	],
   	// rowNum:20,
   	// rowList:[5,10,20,30],
	pginput: false,
	pgbuttons: false,
	viewrecords: true,
	rowList:[],
   	pager: jQuery('#person_contacts_pager'),
	loadui: 'disable',
   	// sortname: 'type',
	onCellSelect: openPanel,
	// sortorder: "asc",
    caption: "Contacts"
}).navGrid('#person_contacts_pager', {edit:false,add:false,del:true, search:false,refresh:false});
activateTitleBar('#person_contacts_list');
jQuery("#person_logs_list").jqGrid({
   	url:'people/load_person_log_table/0',
	datatype: "json",
	height: 150,
   	colNames:['Date', 'Body'],
   	colModel:[
		{name:'date',index:'date', sortable:true, width:70},
		{name:'body',index:'body', sortable:false, width:150}
   	],
   	// rowNum:20,
   	// rowList:[10,20,30],
	pginput: false,
	pgbuttons: false,
	viewrecords: true,
	rowList:[],
   	pager: jQuery('#person_logs_pager'),
   	sortname: 'created_at',
	loadui: 'disable',
	onCellSelect: openPanel,
	sortorder: "asc",
    caption: "Logs"
}).navGrid('#person_logs_pager', {edit:false,add:false,del:true, search:false,refresh:false});
activateTitleBar('#person_logs_list');
jQuery("#person_students_list").jqGrid({
   	url:'people/load_person_student_table/0',
	datatype: "json",
	height: 50,
   	colNames:['Status', 'Grad?', 'G Year', 'Other degrees'],
   	colModel:[
		{name:'status',index:'status', sortable:false, width:50},
		{name:'graduated',index:'graduated', sortable:false, width:40},
		{name:'graduating',index:'graduating', sortable:true, width:50},
		{name:'otherdeg',index:'otherdeg', sortable:true, width:110}
   	],
   	// rowNum:20,
   	// rowList:[10,20,30],
	pginput: false,
	pgbuttons: false,
	viewrecords: true,
	rowList:[],
   	pager: jQuery('#person_students_pager'),
   	sortname: 'created_at',
	// onCellSelect: openPanel,
	// hiddengrid: true,
	loadui: 'disable',
	loadComplete: function (req) {
		ids = jQuery('#person_students_list').getDataIDs();
		if (ids.length > 0) {
			jQuery('#person_students_list').setSelection(ids[0]);
		}
		if (jQuery('#person_students_list').getGridParam('reccount') > 0) {
			openTable('#person_students_list');
			openTable('#student_degrees_list');
		} else {
			hideTable('#person_students_list');
			hideTable('#student_degrees_list');
		}
	},
	onSelectRow: function(ids) {
		if(ids == null) {
			ids=0;
			if(jQuery("#student_degrees_list").getGridParam('records') >0 )
			{
				jQuery("#student_degrees_list").setGridParam({url:"people/load_student_degree_table/"+ids,page:1})
				// .setCaption("Invoice Detail: "+ids)
				.trigger('reloadGrid');
			}
		} else {
			jQuery("#student_degrees_list").setGridParam({url:"people/load_student_degree_table/"+ids,page:1})
			// .setCaption("Invoice Detail: "+ids)
			.trigger('reloadGrid');			
		}
	},
	sortorder: "asc",
    caption: "Student/Program"
}).navGrid('#person_students_pager', {edit:false,add:false,del:true, search:false,refresh:false});
activateTitleBar('#person_students_list');
jQuery("#student_degrees_list").jqGrid({
   	url:'people/load_student_degree_table/0',
	datatype: "json",
	height: 50,
   	colNames:['Track', 'Advisor'],
   	colModel:[
		{name:'track',index:'track', sortable:true, width:70},
		{name:'advisor',index:'advisor', sortable:false, width:180}
   	],
   	// rowNum:20,
   	// rowList:[10,20,30],
   	pager: jQuery('#student_degrees_pager'),
	pginput: false,
	pgbuttons: false,
	viewrecords: true,
	rowList:[],
   	sortname: 'created_at',
	// hiddengrid: true,
	// onCellSelect: openPanel,
	loadui: 'disable',
	sortorder: "asc",
    caption: "Degree tracks"
}).navGrid('#student_degrees_pager', {edit:false,add:false,del:true, search:false,refresh:false});
activateTitleBar('#student_degrees_list');
jQuery("#person_employees_list").jqGrid({
   	url:'people/load_person_employee_table/0',
	datatype: "json",
	height: 50,
   	colNames:['Blurb'],
   	colModel:[
		{name:'blurb',index:'blurb', sortable:false, width:250}
   	],
   	// rowNum:20,
   	// rowList:[10,20,30],
	pginput: false,
	pgbuttons: false,
	viewrecords: true,
	rowList:[],
   	pager: jQuery('#person_employees_pager'),
   	sortname: 'created_at',
	loadui: 'disable',
	// hiddengrid: true,
	loadComplete: function (req) {
		ids = jQuery('#person_employees_list').getDataIDs();
		if (ids.length > 0) {
			jQuery('#person_employees_list').setSelection(ids[0]);
		}
		if (jQuery('#person_employees_list').getGridParam('reccount') > 0) {
			openTable('#person_employees_list');
			openTable('#employee_sections_list');
		} else {
			hideTable('#person_employees_list');
			hideTable('#employee_sections_list');
		}
	},
	onSelectRow: function(ids) {
		if(ids == null) {
			ids=0;
			if(jQuery("#employee_sections_list").getGridParam('records') >0 )
			{
				jQuery("#employee_sections_list").setGridParam({url:"people/load_employee_section_table/"+ids,page:1})
				// .setCaption("Invoice Detail: "+ids)
				.trigger('reloadGrid');
			}
		} else {
			jQuery("#employee_sections_list").setGridParam({url:"people/load_employee_section_table/"+ids,page:1})
			// .setCaption("Invoice Detail: "+ids)
			.trigger('reloadGrid');			
		}
	},
	// onCellSelect: openPanel,
	sortorder: "asc",
    caption: "Profiles"
}).navGrid('#person_employees_pager', {edit:false,add:false,del:true, search:false,refresh:false});
activateTitleBar('#person_employees_list');
jQuery("#employee_sections_list").jqGrid({
   	url:'people/load_employee_section_table/0',
	datatype: "json",
	height: 50,
   	colNames:['Section', 'Title','Adv?'],
   	colModel:[
		{name:'section',index:'section', sortable:true, width:70},
		{name:'title',index:'title', sortable:false, width:150},
		{name:'advisor',index:'advisor', sortable:false, width:30}
   	],
   	// rowNum:20,
   	// rowList:[10,20,30],
	pginput: false,
	pgbuttons: false,
	viewrecords: true,
	rowList:[],
   	pager: jQuery('#employee_sections_pager'),
   	sortname: 'created_at',
	loadui: 'disable',
	// hiddengrid: true,
	// onCellSelect: openPanel,
	sortorder: "asc",
    caption: "Faculty/Staff Affiliations"
}).navGrid('#employee_sections_pager', {edit:false,add:false,del:true, search:false,refresh:false});
activateTitleBar('#employee_sections_list');

// Open the panel 
function openPanel(rowid,cellindex,html,target) {
	// var t = jQuery('#people_list');
	var t = jQuery(target).closest('.ui-jqgrid-btable');
	var id = t.attr('id');
	var r = t.find('#' + rowid);
	var c = r.find('td:eq(' + cellindex + ')');
	var panelId = id + 'panel' + rowid + '_' + cellindex;
	// unfocus anything already focused, then focus the cell that was clicked on
	// might be better to use .ui-state-focus, but it wasn't very visible
	t.find('.fancytable_cell_focus').removeClass('fancytable_cell_focus');
	c.addClass('fancytable_cell_focus');
	// if there are any panels open already, tell them to close
	t.find('.open_edit_panel').removeClass('open_edit_panel').addClass('closing_edit_panel');
	// add the panel
	// for some reason I need to explicitly set the widths
	var w = t.css('width');
	r.after(
		'<tbody id="tbody_' + panelId + '" style="display:none;width:' + w + ';">' + 
		'<tr style="">' + 
		'<td id="td_' + panelId + '" style="width:' + w + ';" colspan="8">' +
		'Loading editing panel...' +
		'</td></tr></tbody>');
	// replace the body of the panel with the form from the server
	var pi = t.find('#td_' + panelId);
	var po = t.find('#tbody_' + panelId);
	t.find('#td_' + panelId).load('/people/edit_panel',
		{'id': rowid, 'table': id, 'panel': cellindex, 'authenticity_token': rails_authenticity_token},
		function(data) { 
			t.find('.closing_edit_panel').slideUp('normal', function() { jQuery(this).remove();});
			pi.css({'display':'block'});
			po.addClass('open_edit_panel').slideDown('normal');
		});
}

function activateTitleBar(table) {
	jQuery(table).closest('.ui-jqgrid-view').find('.ui-jqgrid-titlebar').click(function() {
		jQuery(this).find('.ui-jqgrid-titlebar-close').trigger('click');
		});
}
function hideTable(table) {
	if (jQuery(table).getGridParam('gridstate') == 'visible') {
		jQuery(table).closest('.ui-jqgrid-view').find('.ui-jqgrid-titlebar-close').trigger('click');
	}
}
function openTable(table) {
	if (jQuery(table).getGridParam('gridstate') == 'hidden') {
		jQuery(table).closest('.ui-jqgrid-view').find('.ui-jqgrid-titlebar-close').trigger('click');
	}
}

</script>
