<%= html_filters %>
<%= html_live_search_to_wire('name') %>
<table class="layout_table">
	<tr>
		<td valign="top">
			<%= html_table_to_wire %>
		</td>
		<td valign="top">
			<!-- <p>Student</p> -->
			<%= rendered_children["#{@prefix}student"] %>
			<!-- <p>Employee</p> -->
			<%= rendered_children["#{@prefix}employee"] %>
		</td>
		<td valign="top">
			<!-- <p>Contact</p> -->
			<%= rendered_children["#{@prefix}contact"] %>
			<!-- <p>Log</p> -->
			<%= rendered_children["#{@prefix}log"] %>
		</td>
	</tr>
</table>
<%= wire_jqgrid %>
<%= wire_filters %>
