<div class="fancytable_edit_panel">
	<%= form_to_event :state => :_edit_panel_submit %>
		<table class="layout_table">
			<tr>
				<td>Title</td>
				<td><%= text_field_tag 'employee_section[title]', @record.title, :size => 15 %></td>
			</tr>
			<tr>
				<td>Section</td>
				<td><%= select_tag('employee_section[section_id]',
				options_for_select(Section.find(:all).collect{|c| [c.name, c.id]}, @record.section_id)) %></td>
			</tr>
			<tr>
				<td>Advisor?</td>
				<td><input name='employee_section[is_advisor]' type='hidden' value='0' />
				<%= check_box_tag 'employee_section[is_advisor]', '1', (@record.is_advisor ? true : false) %></td>
			</tr>
			<tr>
				<td colspan="2">
					<%= submit_tag @record.new_record? ? "Add" : "Update" %> 
					<%= cancel_button %>
				</td>
			</tr>
		</table>
	</form>
</div>
