<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>jqGrid_widget test</title>
	<script type="text/javascript">
		rails_authenticity_token = '<%= form_authenticity_token %>'
	</script>
	<%= stylesheet_link_tag 'infoman' %>
	<%= stylesheet_link_tag 'jqgrid_widget' %>
	<%= stylesheet_link_tag 'jquery-ui' %>
	<%= stylesheet_link_tag 'ui.jqgrid' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'grid.locale-en' %>
	<%= javascript_include_tag 'jquery.form' %>
	<%= javascript_include_tag 'jquery.jqGrid.min' %>
	<%= javascript_include_tag 'jqgrid_widget' %>
	<%= javascript_include_tag 'jrails' %>

</head>
<body>
<table class="layout_table">
	<tr>
	<td class="nav_title">
	jqgrid_widget test app
	</td>
	<td class="nav_title">
		<span id="nav_feedback"></span>
	</td>
	<td class="nav_user">
	User info
	</td>
	</tr>
</table>

<table class="layout_table">
	<tr>
		<td class="nav_bar">
		<table class="layout_table">
			<tr class="nav_block">
				<td>&nbsp;Screens&nbsp;</td>
			</tr>
			<tr class="nav_items">
				<td colspan="2">
					<p><%= link_to "Programs", {:controller => 'programs', :action => 'index'} %></p>
					<p><%= link_to "Degrees", {:controller => 'degrees', :action => 'index'} %></p>
					<p><%= link_to "Employees", {:controller => 'employees', :action => 'index'} %></p>
					<p><%= link_to "People", {:controller => 'people', :action => 'index'} %></p>
				</td>
			</tr>
			<tr class="nav_block">
				<td>&nbsp;Utility&nbsp;</td>
			</tr>
			<tr class="nav_items">
				<td colspan="2">
					<p><%= link_to "Repopulate", {:controller => 'degrees', :action => 'populate'} %></p>
				</td>
			</tr>
		</table>
		</td>

		<td valign="top" class="main">
			<%= yield %>
		</td>
	</tr>
</table>

</body>
</html>
