<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Fancy Table test</title>
	  <%= stylesheet_link_tag 'infoman' %>
	  <%#= stylesheet_link_tag 'fancytable' %>
    <script type="text/javascript">
      rails_authenticity_token = '<%= form_authenticity_token %>'
    </script>

  <%= stylesheet_link_tag "jquery-ui.css" %>
  <%= stylesheet_link_tag 'ui.jqgrid.css' %>
  <%#= stylesheet_link_tag 'fancytable.css' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%#= javascript_include_tag 'jquery-1.3.2.min' %>
  <%#= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
  <%= javascript_include_tag 'grid.locale-en' %>
  <%= javascript_include_tag 'jquery.form' %>

  <%# Uncomment the loader below if javascript debugging is called for. %>
  <%# Now trying to use the cutting edge github version %>
  <%#= javascript_include_tag 'jquery.jqGrid.min' %>
  <%#= javascript_include_tag 'src/grid.loader' %>
  <%= javascript_include_tag 'jquery.jqGrid.min' %>
  <%#= javascript_include_tag 'src/jqModal' %>
  <%#= javascript_include_tag 'src/jqDnR' %>
  <%#= javascript_include_tag :defaults %>

  <%= javascript_include_tag 'jqgrid_widget' %>

</head>
<body>
<table class="layout_table">
	<tr>
	<td class="nav_title">
	Fancy table test
	</td>
	<td class="nav_title">
		flash notice
	</td>
	<td class="nav_user">
	User info
	</td>
	</tr>
</table>

<table class="layout_table">
	<tr>
		<td class="nav_bar">
		<table class="layout_table">
			<tr class="nav_block">
				<td>&nbsp;TopNav block&nbsp;</td>
			</tr>
			<tr class="nav_items">
				<td colspan="2">
					<p>Nav item</p>
				</td>
			</tr>
		</table>
		</td>

		<td valign="top" class="main">
			<%= yield %>
		</td>
	</tr>
</table>

</body>
</html>
